.App {
  text-align: center;
}

.App-header {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  ul {
    list-style-type: none;
    padding: unset;
  }
  li {
    float: left;
    padding: 16px;
  }

}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}
